@tailwind base;
@tailwind components;
@tailwind utilities;

.parallax {
    background-image: url("../../public/parallax-background.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
  }

.indicator {
    transition: width 250ms ease;
  
    &[data-active] {
      width: 40px;
    }
  }

.text-shadow {
  text-shadow: 5px 5px #000000;
}